{% extends 'base.html.twig' %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('assets/css/style.css') }}" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">

{% endblock %}

{% block javascripts %}
<script src="https://kit.fontawesome.com/d31ad0e262.js" crossorigin="anonymous"></script>
    <script>

        const statusColors = {
            "backlog": "#FFD700",
            "running": "red",
            "evaluating": "blue",
            "in-progress": "orange",
            "live": "green",
        };

        document.addEventListener("DOMContentLoaded", function () {
            const columns = document.querySelectorAll(".column__item");

            columns.forEach(column => {
                const statusLabel = column.classList[1]; // La deuxième classe représente le libellé du statut
                const color = statusColors[statusLabel];
                if (color) {
                    column.style.backgroundColor = color;
                }
            });
        });

    </script>
{% endblock %}


{% block body %}

    <label id="labelproject" > projet :</label>
    <select name="projects" id="projects">
        <option value="default">{%  if (idprojet) %} {{ idprojet }} {% else %}Sélectionnez un projet {% endif %}</option>
        {% for projet in projets %}
        <option value="{{ projet.getId() }}">{{ projet.getName()}}</option>
        {% endfor %}
    </select>

    <script>
        document.getElementById('projects').addEventListener('change', function() {
            var id = this.value;
            window.location.href = '/home/'+id;
        });
    </script>









    <section class="wrapper">


        <ul class="column__list">

    {% for statut in statuts %}
        <div id="container_add">
            <div class="column__item {{ statut.getLibelle() }}">
                <div class="column__title--wrapper">

                    <h2 id="title_statut">{{ statut.getLibelle() }}</h2>
                    <i class="fas fa-ellipsis-h"></i>
                </div>
                <ul class="card__list">

                    {% for task in tasks %}
                        {% if task.getStatut().getLibelle() == statut.getLibelle()  %}
                    <div class="card__item">

                        <span class="card__tag card__tag--browser">{{ task.getTitle() }}</span>
                        {% for users in task.getUtilisateur() %}
                        <span class="card__tag card__tag--browser">{{ users.getName() }}</span>
                        {% endfor %}
                        <span class="card__tag card__tag--browser">{{ task.getProject().getName() }}</span>


                        <h6 class="card__title">{{ task.getDescription() }}</h6>
                        <div id="actions_tasks">


                            {% if is_granted("TASK_DELETE",task) %}
                                <a href="/tasks/{{ task.getId() }}/delete"  class="btn btn-main"><i class="fa-solid fa-trash"></i></a>

                                {% endif %}

                            {% if is_granted("TASK_EDIT",task) %}

                                <a href="/tasks/{{ task.getId() }}/edit"  class="btn btn-main"><i class="fa-solid fa-pen-to-square"></i></a>
                            {% endif %}
                        </div>





                    </div>
                        {% endif %}
                    {% endfor %}

                </ul>

            </div>
        <div class="column__item--cta">
            <a href="{{ path("app_tasks_new_statut",{'statut': statut.getId()}) }}"><i class="fa-solid fa-plus"></i></a>
        </div>
        </div>
    {% endfor %}


        </ul>
    </section>


{% endblock %}