{% extends 'base.html.twig' %}


{% block javascripts %}
    {{ parent() }}
<script src="https://kit.fontawesome.com/d31ad0e262.js" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/dragula/3.7.2/dragula.min.js"></script>

{% endblock %}


{% block body %}













    <section class="wrapper">
        <label id="labelproject" > projet :</label>
        <select name="projects" id="projects">
            <option value="default">{%  if (idprojet) %} {{ idprojet }} {% else %}Sélectionnez un projet {% endif %}</option>
            {% for projet in projets %}
                <option value="{{ projet.getId() }}">{{ projet.getName()}}</option>
            {% endfor %}
        </select>

        <script>
            document.getElementById('projects').addEventListener('change', function() {
                var id = this.value;
                window.location.href = '/home/'+id;
            });
        </script>


        <ul class="column__list">

    {% for statut in statuts %}
        <div id="container_add">
            <div class="column__item {{ statut.getLibelle() }}">
                <div class="column__title--wrapper">
                    <h2 class="statut">{{ statut.getLibelle() }}</h2>
                    <span class="numberperstatut" data-statut-number="{{ statut.getLibelle() }}" >{{ numberOfTasksInStatut[statut.getId()] }}</span>
                </div>
                <ul class="card__list">

                    {% for task in tasks %}
                        {% if task.getStatut().getLibelle() == statut.getLibelle()  %}
                    <div class="card__item" draggable="true" data-statut="{{ statut.getLibelle() }}" data-task-id="{{ task.getId() }}">

                        <h5 class="card__title">{{ task.getTitle() }}</h5>

                        <div class="etiquettes">
                            {% for users in task.getUtilisateur() %}
                                <span class="card__tag" data-statut="{{ statut.getLibelle() }}">{{ users.getName() }}</span>
                            {% endfor %}
                            <span class="card__tag" data-statut="{{ statut.getLibelle() }}">{{ task.getProject().getName() }}</span>
                            {% if is_granted("TASK_DELETE",task) %}
                                <a href="/tasks/{{ task.getId() }}/delete"  class="btn btn-main"><i class="fa-solid fa-xmark"></i></a>
                            {% endif %}


                        </div>


                        <span class="card__content">{{ task.getDescription() }}</span>

                        <div id="actions_tasks">




                            {% if is_granted("TASK_EDIT",task) %}

                                <a href="/tasks/{{ task.getId() }}/edit"  class="btn btn-main"><i class="fa-solid fa-pen-to-square"></i></a>

                            {% endif %}
                        </div>






                    </div>
                        {% endif %}
                    {% endfor %}

                </ul>

            </div>
            {% if is_granted('IS_AUTHENTICATED_FULLY') %}
        <div class="column__item--cta">
            <a href="{{ path("app_tasks_new_statut",{'statut': statut.getId()}) }}"><i class="fa-solid fa-plus"></i></a>
        </div>
            {% endif %}
        </div>
    {% endfor %}


        </ul>
    </section>


{% endblock %}