{% extends 'base.html.twig' %}

{% block title %}Utilisateurs index{% endblock %}

{% block body %}
    <h1>Utilisateurs index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Mail</th>
                <th>Password</th>
                <th>Role</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for utilisateur in utilisateurs %}
            <tr>
                <td>{{ utilisateur.id }}</td>
                <td>{{ utilisateur.name }}</td>
                <td>{{ utilisateur.mail }}</td>
                <td>{{ utilisateur.password }}</td>
                <td>{{ utilisateur.getRoles()[0] }}</td>
                <td>
                    <a href="{{ path('app_utilisateurs_show', {'id': utilisateur.id}) }}">show</a>
                    {% if is_granted("EDIT",utilisateur) %}
                    <a href="{{ path('app_utilisateurs_edit', {'id': utilisateur.id}) }}">edit</a>
                    {% endif %}
                    {% if is_granted("DELETE",utilisateur) %}

                        <a href="/utilisateurs/{{ utilisateur.getId() }}/delete"  >delete</a>
                    {% endif %}

                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a class="link_admin" href="{{ path('app_register') }}">Create new</a>
{% endblock %}
