{% extends 'base.html.twig' %}

{% block title %}Tasks index{% endblock %}

{% block body %}
    <h1>Tasks index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Title</th>
                <th>Description</th>
                <th>Date_creation</th>
                <th>Date_modification</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for task in tasks %}
            <tr>
                <td>{{ task.id }}</td>
                <td>{{ task.title }}</td>
                <td>{{ task.description }}</td>
                <td>{{ task.dateCreation ? task.dateCreation|date('Y-m-d') : '' }}</td>
                <td>{{ task.dateModification ? task.dateModification|date('Y-m-d') : '' }}</td>
                <td>
                    <a href="{{ path('app_tasks_show', {'id': task.id}) }}">show</a>
                    {% if is_granted("TASK_EDIT",task) %}
                    <a href="{{ path('app_tasks_edit', {'id': task.id}) }}">edit</a>
                    {% endif %}
                    {% if is_granted("TASK_DELETE",task) %}
                        <a href="/tasks/{{ task.getId() }}/delete"  class="btn btn-main">delete</a>
                    {% endif %}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_tasks_new') }}">Create new</a>
{% endblock %}
